body {
    font-family: 'Doto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #DDDDDD;
    color: #2C3E50;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 33px;
    margin-right: 10px;
}


.header-title {
    font-size: 24px;
    color: #2C3E50;
    margin: 0;
}

.documentation-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.doc-link {
    text-decoration: none;
    color: #2C3E50;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 0px;
}
.doc-link:hover {
    color: #ff602e;
}

.share-icon {
    height: 12px; 
    width: 12px;
    margin-left: 5px;
}

.nav-tabs {
    display: flex;
    justify-content: left;
    padding: 6px;
    gap: 20px;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
}


h1 {
    font-size: 24px;
    color: #2C3E50;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 16px; 
    color: #2C3E50;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
