.nav-tabs {
    display: flex;
    justify-content: left;
    padding: 2px;
    gap: 0px;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
}

.tab-link {
    color: #2C3E50; 
    text-decoration: none;
    padding: 5px 22px;
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    transition: color 0.3s ease;
}

.tab-link:hover {
    color: #ff602e;
    background-color: transparent;
    cursor: pointer;
}

.tab-link.active {
    color: #ff602e;
    font-weight: bold;
}
